#container{
  background-color: #ffffff;
  margin: 0 auto;
  width: 850px;
  height: 600px;
  align-items: center;
  align-content: center;
}

#alinkDiv{
  width: 850px;
  height: 600px;
  display: block;
  margin: 190px auto;
  align-items: center;
  box-shadow: 0 5px 15.83px 0.15px #84e5fd8e;
}

.alink{
  text-align: center;
  color: white;
  margin: 50px auto;
  background: #002f4b;  
  width: 29%;
  font-weight: bolder;
  padding: 5px;
  border-radius: 7px;
}

#imgLogo{
  margin: 5px auto;
  padding: 100px 50px 0px 50px;
  width: 150px;
}

p{
  margin: 10px auto;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  color: #002f4b;
  width: 60%;
}
#heading{
  font-size: 20px;
  font-weight: bolder;
  color: #002f4b;
}