body {
  background: #f8f8f8;
}

.container {
  width: 850px;
  height: 600px;
  background: #fff;
  margin: 90px auto;
  box-shadow: 0 5px 15.83px .15px #002f4b;
}

.form-title {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 33px;
  color: #002f4b;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  margin-left: 180px;
  margin-top: 20px;
}
.forgotIcon{
  font-size: 150px;
  color: #002f4b;
  margin-left: 350px;
 margin-top: 50px;
}
label {
  position: absolute;
  left: 0;
  top: 10%;
  color: #222;
  text-align: center;
}

input[type=text] ,input[type=password]{
  width: 500px;
  display: block;
  border: none;
  border-bottom: 1px solid #002f4b;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
}

#signinButton{
  width: 300px;
  margin-left: 95px;
  margin-top: 30px;
  background-color: #002f4b;
}

a{
  text-decoration: none;
  color: #002f4b;
}
.icons{
  color: #002f4b;
}
::placeholder{
  color: #002f4b;
}

#forgotText{
  text-align: center;
  color: #002f4b;
}


/* set password css */
#buttonContainer{
  display: flex;
  margin: 0 auto;
  width: 466px;
}
.btn{
  margin: 0 auto;
  padding: 11px 26px;
  font-weight: bolder;
}
.btnp{
  font-weight: bolder;
  padding: 11px 26px;
  color: aliceblue;
  border: none;
  border-radius: 7px;
  margin: 10px auto;
}
.btnp:hover{
  opacity: 0.7;
  transition: .3s;
}