
body {
  font-size: 0.875rem;
}

.headers {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}




#paggingLink-prev {
  padding: 10px;
}

#paggingLink-next {
  padding: 10px;
}

.paginationController {
  margin-left: 40%;
  margin-top: -20px;
}

.dropdown {
  margin-bottom: 30px;
}

.hide {
  display: none;
}

#paggingLink-prev {
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  background-color: #002f4b;
}

#paggingLink-prev:hover {
  border-radius: 15px;
  color: #002f4b;
  background-color: white;
  border: 3px solid #002f4b;
}

#paggingLink-next {
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  background-color: #002f4b;
}

#paggingLink-next:hover {
  border-radius: 15px;
  color: #002f4b;
  background-color: white;
  border: 3px solid #002f4b;
}


#norecordsfound{
  text-align: center;
  color: red;
  font-size: 1.4em;
  font-weight: 500;
}

.bigfont{
  font-size: 18px;
  background-color: aliceblue;
}

.row main{
  margin: 0 auto;
}

.headers input{
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;
}
