body {
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 1 0 10%;
  width: 15%;
}

.invalid-feedback {
  display: block;
  width: fit-content;
  height: fit-content;
}

.containerr {
  display: flex;
  height: 100%;
}

.containerNavbar {
  width: 100%;
}

.form-check-input[type="radio"] {
  border-color: black;
}

main {
  margin-top: 1rem;
  height: 85vh;
  overflow-y: scroll;
  width: 85% !important;
  background: rgba(128, 128, 128, 0.034);
}

.que-head {
  display: flex;
  gap: 1rem;
  margin: 1rem 0rem;
  /* align-items: center; */

}

.selectContainer {
  height: fit-content;
}

#manuallyAddSection {
  width: 90%;
}

select {
  /* width: 15rem !important; */
  width: 100% !important;
  height: fit-content;
}

.sectionBtn {
  width: 50rem;
}

.sectionBtn-active {
  background: rgba(0, 128, 0, 0.585);
  color: white;
}

.queInput {
  width: 100%;
  max-width: 100%;
}

.optionInput {
  width: 25rem;
}

.flex-dir-col-gap-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionNavBtn {
  height: 3rem;
}

.deletedQue {
  opacity: 0.5;
}

/* scrollbar style for chrome */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #002f4b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.smallInput {
  width: 10rem !important;
}

.que-text {
  word-break: break-all;
}

.aside-row {
  background-color: #002f4b;
  color: #e9ecef;
}

#examDetailsRoute {
  background-color: #e9ecef;
  color: #002f4b;
}
.form-control {
  border-width: 2px !important;
}