.mainbox {
    display: flex;
    justify-content: center;
    margin: 25px 80px 25px 80px;
  }

  th {
    font-size: 20px;
  }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: absolute;
    z-index: 100;
    left:15%;
    top: -5%;
  }

  /* Add styles to the form container */
  .form-container {
    max-width: 2500px;
    width: 100vh;
    padding: 50px;
    background-color: white;
  }

  .form-container .cancel {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }

  .form-container .remove {
    color: white;
    padding: 12px 20px;
    border: none;
    width: 100%;
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover {
    opacity: 1;
  }

  .form-popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
  }

  .form-popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: -1;
  }
  .hide{
    display: none;
  }


  /* pagination controller */

  #paggingLink-prev {
    padding: 10px;
  }
  #paggingLink-next {
    padding: 10px;
  }
  
  .paginationController{
    margin-left: 41%;
    margin-top: 5%;
  }



#paggingLink-prev{
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  background-color: #002f4b;
}
#paggingLink-prev:hover{
  border-radius: 15px;
  color:   #002f4b;
  background-color: white;
  border: 3px solid #002f4b;
}

#paggingLink-next{
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  background-color: #002f4b;
}

#paggingLink-next:hover{
  border-radius: 15px;
  color:   #002f4b;
  background-color: white;  
  border: 3px solid #002f4b;
}
  /* pagination controller */