<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/css/forgetPasswordActivationLink .css">
<body>
  <div id="container">
    <form method="post">
      <input type="text" id="activateLinkInput" name="activateLinkInput" hidden>
    </form>
    <div id="alinkDiv">
      <div id="imgLogo">
        <img src="/assets/LinkVarification.png"  alt="Link Varification Icon" width="150px" height="150px">
      </div>
      <p id="heading"> Please Click Below Button To Authenticate Yourself </p>
      <p> It will Redirect You The Create New Password Page
      <p> The Link Will Be Active For 15 Minutes </p>
      <p id="activateLink" class="alink">Click Here To Verify</p>
    </div>
  </div>
</body>
<script src="/js/forgetPasswordActivationLink.js"></script>
<script>
  
</script>
</html>