<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/css/forgetPasswordActivationLink .css">
<script src="/sweetalert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css"> 
<body>
  <div id="container">
    <form method="post">
      <input type="text" id="activateLinkInput" name="activateLinkInput" hidden >
    </form>
    <div id="alinkDiv">
      <div id="imgLogo">
        <img src="/assets/LinkVarification.png"  alt="Link Varification Icon" width="150px" height="150px">
      </div>
      <p id="heading"> Please Click Below Button To Authenticate Yourself </p>
      <p> It will Redirect You to Login Page
      <p> The Link Will Be Active For 1 Hour </p>
      <p id="activatationLink" class="alink">Click Here To Verify</p>
    </div>
  </div>
  <script src="/js/registrationActivationLink.js"></script>
</body>
</html>
