<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/fontawesome-free-6.5.2-web/css/all.min.css">
   <link rel="stylesheet" href="/css/forgotPasswordPage.css">
</head>
<body>
  <div class="container" id="container">
    <div class="forgotpassword-content">
      <div class="forgotpassword-form">
        <i class="fa-solid fa-lock forgotIcon"></i>
        <h2 class="form-title">Forgot Password?</h2>
        <p id="forgotText">Enter the email address associated with your account, we'll send you a link to reset your password.</p>
        <form method="POST" class="register-form" id="register-form">
        <div class="form-group">
          <label for="email"><i class="fa-solid fa-envelope icons"></i></label>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Enter Your Email"
          />
        </div>
        <div class="form-group">
          <p name="signin" id="signinButton" class="form-submit btn btn-primary" style="border: none;"> Submit </p>
        </div>
        <input type="text" id="activateLinkInput" name="activateLinkInput" hidden>
      </form>
    </div>
    <p id="message"></p>
    <p style="text-align: center; color: blue" id="activateLink"></p>
  </div>
</body>
</html>

<script src="/js/forgetPassword.js"></script>
