<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/fontawesome-free-6.5.2-web/css/all.min.css">
   <link rel="stylesheet" href="/css/forgotPasswordPage.css">
</head>
<body>
  <div class="container" id="container">
    <div class="setpassword-content">
      <div class="setpassword-form">
        <i class="fa-solid fa-lock forgotIcon"></i>
        <h2 class="form-title">Set Password</h2>
         <form method="POST" class="register-form" id="register-form">
          <div class="form-group">
            <label for="password"><i class="fa-solid fa-lock icons"></i></i></label>
            <input
              type="password"
              name="password"
              id="password"
              class="requiredtext"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <label for="re-password"><i class="fa-solid fa-lock icons"></i></label>
            <input
              type="password"
              name="repassword"
              id="repassword"
              class="requiredtext"
              placeholder="Repeat Password"
            />
          </div>
          <div id="buttonContainer">
            <p
              name="signin"
              id="submit"
              class="btnp"
              style="background-color: #002f4b;"
            >
            Submit
            </p>
            <p
              name="cancel"
              id="cancel"
              class="btnp"
              style="background-color: #004b00;"
            >
            Cancel
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

<script src="/js/forgetPasswordSetNewPassword.js"></script>

</html>