<link rel="stylesheet" href="/css/userPanel.css" />

<div class="aside">
    <div class="topmost">
      <div class="top d-flex align-items-center"><img src="/assets/examlogo.png" alt="" />
      <span class="font-weight-bold fa-1x text-white"> examSoft</span></div>

      <a href= "/admin">
        <div class="aside-row" id="dashboardRoute"><i class="fa-solid fa-house"></i>Home</div>
      </a>

      <a href="/admin/students/studentdetailspage">
        <div class="aside-row" id="studentDetailsRoute"><i class="fa-solid fa-user"></i> Students</div>
      </a>

      <a href="/admin/exams/create">
        <div class="aside-row" id="createExamRoute"><i class="fa-solid fa-folder"></i> Create Exam</div>
      </a>

      <a href="/admin/students/allexamspage">
        <div class="aside-row" id="examDetailsRoute"><i class="fa-solid fa-folder"></i> Exams</div>
      </a>

      <a href="/admin/students/resultdetails">
        <div class="aside-row" id="resultRoute"><i class="fa-solid fa-book-open"></i> Result</div>
      </a>

      <a href="/admin/exams/topics">
        <div class="aside-row" id="categoryRoute"><i class="fa-solid fa-chart-simple"></i></i>Exam Topics</div>
      </a>

      <a href="/admin/analysis">
        <div class="aside-row" id="analysisRoute"><i class="fa-solid fa-chart-line"></i>Analysis</div>
      </a>

    </div>
  
    <div class="bottomMost">
       <a href= "/logout">
          <div class="aside-row"><i class="fa-solid fa-right-from-bracket"></i> Logout
          </div>
        </a>
    </div>
  </div>
  
  <script src="/js/userDashboard/selector.js"></script>
