<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.84.0" />
    <title>Student Details Route</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/assets/fontawesome-free-6.5.2-web/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/studentDetails.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon_examIcon3.ico">

    <style>
        .aside-row {
        background-color: #002f4b;
        color: #e9ecef;
      }

      #studentDetailsRoute {
        background-color: #e9ecef;
        color: #002f4b;
      }
    </style>
  </head>

  <body>
    <div class="containerr">
      <%- include('sidebar'); %>
      <div class="main" id="main">
        <%- include('navbar',{id:id}); %>
        <div class="container-fluid">
          <div class="row">
            <main
              class="col-md-9  col-lg-10 px-md-4"
              style="display: inline"
            >
              <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
              ></div>

              <div class="main-content">
                <div class="headers">
                  <input
                    type="text"
                    id="searchText"
                    placeholder="Search Here.."
                    aria-label="Search"
                  />
                </div>

                <div class="card" style="min-width: 350px; width: auto">
                  <div
                    class="card-header"
                    style="
                      color: white;
                      font-size: 1.4em;
                      font-weight: 500;
                      background-color: #002f4b;
                    "
                  >
                    Student Details
                  </div>

                  <div class="card-body">
                    <div
                      class="recordsContainer table table-bordered table-responsive"
                      id="recordsContainer"
                    ></div>
                    <p id="norecordsfound"></p>

                    <div class="paginationController" id="paginationController">
                      <input
                        type="button"
                        id="paggingLink-prev"
                        value="Previous"
                        onclick="prevPage()"
                        disabled
                      />
                      <span id="pageTagSpan">1</span>
                      <input
                        type="button"
                        id="paggingLink-next"
                        value="Next"
                        onclick="nextPage()"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/studentDetails.js"></script>
  </body>
</html>
<div class="searchBox">
  <input
    type="text"
    name="search"
    id="searchExam"
    placeholder="Search Exam by Title"
  /><i class="fa-solid fa-magnifying-glass"></i>
</div>
<script>
  ids("navBarStatus").innerHTML = "Student Details";
</script>