<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/error404page.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="logo">
                <img src="/assets/examlogo.png" alt="">
               <p id="softName">examSoft</p> 
            </div>
        </div>
        <div class="box">
            <img id="errorImage" src="/assets/404errorImage.png" alt="">
            <h2>Page Not Found</h2>
        </div>
    </div>
</body>
</html>