<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Link Expires</title>
  <link rel="stylesheet" href="/css/error404page.css">
  <style>
    #statusImage{
      width: 250px;
      display: block;
      margin: auto;
    }
  </style>
</head>
<body>
  <div class="container">
  <div class="box">
      <img id="statusImage" src="/assets/<%= image %>" alt="">

  </div>
  <div class="box">
     
      </div>
      <h2 id="statusMessage" > <%= message %> </h2>
  </div>
</div>
</body>
</html>