<div class="aside">
  <div class="topmost">
    <div class="top d-flex align-items-center"><img src="/assets/examlogo.png" alt="" />
    <span class="font-weight-bold fa-1x text-white"> examSoft</span></div>
    
    <a href="/user/userDashboard">   
    <div class="aside-row" id="homeRoute"><i class="fa-solid fa-house"></i> Home</div>
  </a>

    <a href="/user/results">
      <div class="aside-row" id="resultRoute"><i class="fas fa-list-alt"></i> Results </div>
    </a>

  <a href="/user/userFeedback">
    <div class="aside-row" id="feedbackRoute">
        <i class="fa-solid fa-comment"></i> Feedback         
      <i id="showFeedBackCount" style="display: none;"></i>
    </div>
  </a>

    <a href="/user/userProfile" >
      <div class="aside-row" id="profileRoute"><i class="fa-solid fa-user"></i>Profile</div>
    </a>

  </div>

  <div class="bottomMost">
    <a href="/logout">
      <div class="aside-row bottom" id="logoutSide">
        <i class="fa-solid fa-right-from-bracket" id="logoutRoute"></i> Logout
      </div>
    </a>
  </div>
</div>

<script src="/js/userDashboard/selector.js"></script>
