<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam User</title>
    
    <link rel="stylesheet" href="/css/bootstrap_v4.5.css" />
    <link rel="stylesheet" href="/assets/fontawesome-free-6.5.2-web/css/all.min.css">
    <link rel="stylesheet" href="/css/userProfileStyle.css" />
    <link rel="stylesheet" href="/css/userNavbar.css" />
    <link rel="stylesheet" href="/css/userPanel.css" />
    <link rel="stylesheet" href="/css/examDetails.css" />
    <link rel="icon" href="/assets/examIcon3.png" />
    <script src="/js/boostrap-bundle-js-v4.5.js" type="javascript"></script>
  <link rel="icon" type="image/x-icon" href="/assets/favicon_examIcon3.ico">

</head>